{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "pnpm run lint:fix"
  ],
  "**/*.{css,scss}": [
    "prettier --write"
  ],
  "**/*.{css,md,mdx,yml,yaml,czrc,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}